html {
    scroll-behavior: smooth;
    overflow: hidden;
}

.phonescreen-image {
    height: 70vh;
    border-radius: 60px;
    border: 16px solid #f6f6f6;
    box-shadow: 6px 14px 20px #d2d2d2;
}

/* Expand */

.expand-container {
    margin-top: 5vh;
    text-align: center;
}

.expand-button {
    border-radius: 100%;
}

/* TopBar */

.topbar-sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.topbar-container {
    padding-top: 2em;
    min-height: 10vh;
}

.topbar-container-logo {
    height: 4em;
}

.topbar-button-container {
    background-color: #88BE8C;
    padding: 0.5em 2.5em 0.5em 2.5em;
    border-radius: 2em;
    box-shadow: 3px 3px 10px #d2d2d2;
}

.topbar-button-text {
    color: white;
    font-size: 1.2em;
}

.topbar-buttonbase {
    border-radius: 2em !important;
}

/* MainContent */

.maincontent-container {
    padding-top: 10vh;
    min-height: 100vh;
}

.maincontent-text1 {
    padding-left: 20%;
    min-width: 80%;
    line-height: 1em !important;
    font-family: 'GothamPro', 'Roboto', sans-serif !important;
    font-weight: 100 !important;
}

.maincontent-text2 {
    padding-left: 30%;
    min-width: 70%;
    font-family: 'GothamPro', 'Roboto', sans-serif !important;
    color: #88BE8C;
    line-height: 1.2em !important;
}

/* GraphContent */

.graphcontent-container {
    min-height: 100vh;
    padding-top: 10vh;
}

.graphcontent-text1 {
    line-height: 1em !important;
    font-family: 'GothamPro', 'Roboto', sans-serif !important;
    font-weight: 400 !important;
    color: #88BE8C;
}

.graphcontent-text2 {
    width: 300px;
    font-family: 'GothamPro', 'Roboto', sans-serif !important;
    line-height: 1.2em !important;
    font-weight: 300 !important;
}

.graphcontent-icon {
    text-align: center;
    width: 300px;
}

/* FormContent */

.formcontent-container {
    min-height: 85vh;
    padding-top: 10vh;
}

/* FooterContent */

.footercontent-container {
    border-top: 1px solid #d2d2d2;
    min-height: 15vh;
    max-height: 15vh;
    min-width: 100%;
    background-color: #88BE8C;
}

.footercontent-grid {
    padding-top: 1em;
    padding-left: 2vw;
    padding-right: 2vw;
    color: white;
    font-size: 1.5em;
}
